.results {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  column-gap: 5rem;

  .img-wrapper {
    position: relative;
    display: flex;
    border: 8px solid #f3f3f3;
    border-radius: 8px;
  }

  .no-image {
    position: absolute;
    background-color: rgba(30, 29, 34, 0.5);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 8px;

    .no-image-icon {
      font-size: 50px;
    }
  }

  img {
    width: 250px;
  }

  .results-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50rem;
    min-height: 300px;
    max-height: 700px;
  }

  .upload-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  @media screen and (max-width: 850px) {
    gap: 2rem;

    .results-container {
      height: auto !important;
      gap: 3rem;
    }
  }

  @media (min-width: 850px) {
    flex-direction: row;

    img {
      width: 350px;
    }

    .results-container {
      gap: 3rem;
    }
  }

  @media (min-width: 1024px) {
    img {
      width: 400px;
    }

    .results-container {
      gap: 10rem;
    }
  }

  @media (min-width: 1440px) {
    img {
      width: 500px;
    }
  }
}
