@import "../../variables.scss";

.results-card {
  width: 300px;
  height: 90px;
  background-color: $action-background-color !important;
  border-radius: $global-border-radius !important;
  color: $white-color !important;

  .results-card-content {
    padding: 15px;
    height: 100%;

    .age-emotion-container {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      margin-bottom: 10px;
    }
  }

  @media (min-width: 768px) {
    width: 350px;
  }

  @media (min-width: 1024px) {
    width: 400px;
  }

  @media (min-width: 1440px) {
    width: 500px;
  }
}
