.wrapper {
  background-image: url("background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  padding: 16px;
  height: -webkit-fill-available;
  display: flex;
  flex-direction: column;

  .children {
    display: flex;
    flex-grow: 1;
  }
}
