:root {
  font-family: Roboto, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1e1d22;
  height: 100%;
}

body,
#root {
  margin: 0;
  color: #f3f3f3;
  height: -webkit-fill-available;
}

.snackbar-context {
  .alert {
    border: 1px solid;

    &.error {
      background-color: #4d1818;
      border-color: #ff1744;
    }

    &.warning {
      background-color: #b96f04;
      border-color: #ffa726;
    }

    &.info {
      background-color: #398bce;
      border-color: #90caf9;
    }

    &.success {
      background-color: #182b1a;
      border-color: #4caf50;
    }

    .MuiAlert-icon,
    .MuiAlert-action {
      color: #fff;
    }

    .alert-info {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;

      .title {
        font-size: 16px;
        font-weight: 600;
        color: #fff;
      }

      .description {
        font-size: 14px;
        color: #fff;
      }
    }
  }
}
